body {
    padding: 0;
    color: #333;
    font-size: 13px;
    line-height: 1.6;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    background: #fff
}

div.navbar-header a:hover {
    text-decoration: none;
}

span.logo {
    font-weight: 700;
    font-size: 40px;
}

.logo-gray {
    color: #bbb;
}

.logo-orange {
    color: #FF8700;
}

#map {
    width: 100%;
    height: 600px;
}

#trackingButton.stop {
    color: #fff;
    background-color: #B73333;
    border-color: #A42E2E;
}

#trackingButton.stop:hover {
  color: #fff;
  background-color: #902828;
  border-color: #742020;
}

#trackingButton.stop.wait,
#trackingButton.stop.wait:hover {
    color: #fff;
    background-color: #b76664;
    border-color: #b76664;
}

#trackingButton.start.wait,
#trackingButton.start.wait:hover {
    color: #fff;
    background-color: #5e8fb7;
    border-color: #5e8fb7;
}

#rightPanel span.sub-header {
    color: #000000;
    font-weight: bold;
    padding-top: 5px;
}

#rightPanel div.row {
    margin: 0 0 15px 0;
}

#rightPanel div.inner-row {
    margin-top: 4px;
}

#rightPanel table {
    margin: 0;
}

#imsiTable {
    height: 221px;
    background-color: #eee;
}

#imsiTable span.unread-sms {
    display: inline-block;
    margin: 0 0 0 3px;
    padding: 0 1px;
    background-color: #ffa85b;
}

#smsViewer {
    min-height: 178px;
    max-height: 200px;
    font-size: 14px;
    padding: 4px;
    overflow-y: auto;
}

#smsViewer {
    background-color: #F1F1F1;
}

#smsViewer div.no-sms {
    display: none;
}

#smsViewer.no-sms div.no-sms {
    display: none;
}

#smsViewer div.sms.to {
    color: #4c7300;
}

#smsViewer div.sms.from {
    color: #774500;
}

#smsViewer div.sms.to.unsent,
#smsViewer div.sms.from.unsent {
    color: #616161;
}

div.footer {
    font-size: 12px;
    padding: 5px 10px;
    margin-top: 50px;
    background: #3e4753;
    border-top: solid 1px #777
}

div.footer p {
    color: #dadada
}

div.footer a {
    margin: 0 5px;
    color: #FF8700;
    text-decoration: none;
}

div.footer a:hover {
    color: #a8f85f;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out
}

div.footer .span8 {
    padding-top: 15px
}

div.footer .span4 {
    padding-top: 10px
}

#settings h1,
#settings h2 {
    font-weight: bold;
    color: #818181;
    margin-bottom: 15px;
}

#settings h1 {
    font-size: 24px;
}

#settings h2 {
    font-size: 20px;
}