div.jtable-busy-panel-background {
    opacity: 0.1;
    filter: alpha(opacity=10);
    z-index: 998;
    position: absolute;
    background-color: #000;
}

div.jtable-main-container > table.jtable > thead th.jtable-column-header-sortable div.jtable-column-header-container {
    background: url('../column-sortable.png') no-repeat right;
}

div.jtable-main-container > table.jtable > thead th.jtable-column-header-sorted-asc div.jtable-column-header-container {
    background: url('../column-asc.png') no-repeat right;
}

div.jtable-main-container > table.jtable > thead th.jtable-column-header-sorted-desc div.jtable-column-header-container {
    background: url('../column-desc.png') no-repeat right;
}

div.jtable-busy-panel-background.jtable-busy-panel-background-invisible {
    background-color: transparent;
}

.jtable {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ccc;
}

.jtable th {
    cursor: pointer;
}

.jtable th {
    font-weight: normal;
    padding: 3px 4px 3px 4px;
}

.jtable td {
    border-bottom: 1px solid #e5e5e5;
    background-color: #ffffff;
}

.jtable th,
.jtable td {
    display: inline-block;
    text-align: left;
    padding-left: 3px;

}

/*.jtable th:nth-child(1) {*/
    /*border-right: 1px solid lightgray;*/
/*}*/

.jtable td:nth-child(1),
.jtable th:nth-child(1) {
    width: 65% !important;
}

.jtable td:nth-child(2) {
    padding-left: 15px;
}

.jtable td:nth-child(2),
.jtable th:nth-child(2) {
    width: 35% !important;
}

.jtable thead {
    background-color: #337ab7;
    color: #fdfdfd;
}

.jtable thead tr {
    /*display: block;*/
}

.jtable tbody {
    display: block;
    overflow-y: scroll;
    width: 100%;
    height: 200px;
    background-color: #eee;
}

.jtable tbody tr {
    display: block;
}

.jtable .jtable-data-row.jtable-row-even td {
    background-color: #F9F9F9;
}

.jtable .jtable-data-row.jtable-row-selected td {
    background-color: #cccccc;
}